<div>
    <div class="modal-header">
        <h3 class="modal-title">Размещение объявления</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="login">Название:</label>
                <input type="text" class="form-control" id="login" ng-model="app.product.name">
            </div>
            <div id="loginError" class="alert alert-danger collapse">
                <a class="close" ng-click="app.closeError()">&times;</a>
                <span ng-bind="app.error"></span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="app.ok()">Добавить</button>
        <button class="btn btn-warning" type="button" ng-click="app.cancel()">Отмена</button>
    </div>
</div>