<div>
    <div class="modal-header">
        <h3 class="modal-title">{{app.advert.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-thumbnail" style="height: 300px" ng-src="{{app.imgPath}}"/>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <b>Размер жилплощади:</b>
                    </div>
                    <div class="col-sm-8">
                        {{app.advert.flatSize}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <b>Количество комнат:</b>
                    </div>
                    <div class="col-sm-8">
                        {{app.advert.roomNumber}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <b>Тип апартаментов:</b>
                    </div>
                    <div class="col-sm-8">
                        {{app.advert.type}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <b>Описание:</b>
                    </div>
                    <div class="col-sm-8">
                        {{app.advert.description}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <b>Адрес:</b>
                    </div>
                    <div class="col-sm-8">
                        {{app.advert.location}}
                    </div>
                </div>
                <uib-accordion ng-if="app.isUserHasPermissions()">
                    <hr>
                    <div uib-accordion-group class="panel-default" heading="Откликнувшиеся пользователи">
                        <div ng-repeat="resp in app.responds">
                            {{resp.phone}} ({{resp.sName}} {{resp.fName}})<hr ng-if="app.responds.length > 1">
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if="app.isUserHasPermissions()" class="btn btn-danger" type="button" ng-click="app.delete()">Удалить</button>
        <button ng-if="!app.isCurrentUserOwner() && app.loggedAs" class="btn btn-primary" type="button" ng-model="app.respond" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="app.makeRespond()">
            <span ng-if="app.respond == 0 && app.loggedAs">Откликнуться</span><span ng-if="app.respond == 1 && app.loggedAs">Убрать отклик</span>
        </button>
        <button class="btn btn-warning" type="button" ng-click="app.cancel()">Закрыть</button>
    </div>
</div>