<div>
    <div class="modal-header">
        <h3 class="modal-title">Размещение объявления</h3>
    </div>
    <div class="modal-body">
        <form name="crAdvert">
            <div class="form-group">
                <label for="advTitle">Название:</label>
                <input type="text" name="title" class="form-control" id="advTitle" ng-model="app.advert.title" required>
            </div>
            <div class="form-group">
                <label for="advFlatSize">Размер жиплощади:</label>
                <input type="number" name="flatSize" class="form-control" id="advFlatSize" ng-model="app.advert.flatSize" required>
            </div>
            <div class="form-group">
                <label for="advRoomNumber">Количество комнат:</label>
                <input type="number" name="roomNumber" class="form-control" id="advRoomNumber" ng-model="app.advert.roomNumber" required>
            </div>
            <div class="form-group">
                <label for="advType">Тип жилища:</label>
                <input type="text" name="roomType" class="form-control" id="advType" ng-model="app.advert.type" required>
            </div>
            <div class="form-group">
                <label for="advLocation">Месторасположение:</label>
                <input type="text" name="location" class="form-control" id="advLocation" ng-model="app.advert.location" required>
            </div>
            <div class="form-group">
                <label for="advDescription">Описание:</label>
                <input type="text" name="description" class="form-control" id="advDescription" ng-model="app.advert.description" required>
            </div>
            <div class="form-group" style="margin-bottom: 5px">
                <label for="advImg"  class="btn btn-primary" ng-click="uploader.clearQueue()">Выбрать фотографию</label>
                <input type="file" name="img" name="advImg" id="advImg" nv-file-select="" uploader="uploader" style="visibility:hidden; height: 1px">
            </div>
            <table class="table-condensed">
            <tr ng-repeat="item in uploader.queue">
                <td>
                    <span ng-bind="item.file.name"></span>
                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                </td>
            </tr>
            </table>
            <div>
                Процесс загрузки объявления:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"></div>
                </div>
            </div>
            <div id="createAdvertError" class="alert alert-danger collapse">
                <a class="close" ng-click="app.closeError()">&times;</a>
                <span ng-bind="app.data.description"></span>: <span ng-bind="app.data.err.message"></span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <span ng-if="crAdvert.$invalid"><i>Все поля обязательны.</i></span>
        <button class="btn btn-primary" type="button" ng-disabled="crAdvert.$invalid" ng-click="app.ok()">Разместить объявление</button>
        <button class="btn btn-warning" type="button" ng-click="app.cancel()">Отмена</button>
    </div>
</div>